*{
    margin: 0;
}
h1#titulo{
    background-color: rgba(4, 117, 0, 0.692);
    text-align: center;
    padding: 10px;
    color: #fff;
}
body{
    background-color: #c6c6c6;
}
div#formulario{
    padding: 30px 50px;
    text-align: center;
    width: 400px;
}
legend{
    text-align: left;
}
p{
    margin: 15px;
}
